@import '../../assets/scss/main';

.row {
  display: flex;
  align-items: center;

  @include mq-s {
    align-items: initial;
  }

  div {
    @include px(2);
  }
}

.detail {
  flex: 1;
  justify-content: center;
}
